# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.venv/
env/

# Banco local
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db